.div-title {
    text-align: center;
    margin: -36px 0px 40px 0px;
    padding: 30px 0px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    border-radius: 50%;
    padding: 15px 15px 12px 15px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background: var(--gradient-principal);
}

.memories {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    padding-bottom: 100px;
}

.memorie {
    width: min-content;
    border: 1px solid #dedede;
    border-radius: 10px;
}

.section-horizontal {
    width: 181px;
    height: min-content;
}

.img-card {
    height: 240px;
    border-radius: 10px 10px 0px 0px;
}

.section-horizontal img {
    width: 100%;
    height: auto;
}

.div-card {
    padding: 8px 20px 15px 20px;
}

.parent-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;;
}

.text {
    width: 50%;
    text-align: justify;
}

.div-img-texto {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 32px;
    align-items: center;
}

.div-img-texto .title {
    font-size: calc(12px + 9vw);
    padding-top: calc(12px + 3vw);
    padding-bottom: calc(12px + 3vw);
}

.img-texto {
    width: 50%;
    min-width: 192px;
    height: fit-content;
    border-radius: 20px;
}

#otros {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    padding-bottom: 100px;
}

#otros img {
    width: 80vw;
    height: auto;
}

@media (max-width: 1024px) {
    .text {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .img-texto {
        width: 70%;
    }
    
    .div-img-texto {
        flex-direction: column-reverse;
        width: 70%;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .text {
        width: 100%
    }
}