.menu {
    gap: 36px;
    width: 100%;
    height: var(--heigt-base);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
}

.option {
    border-radius: 50px;
    color: #000000;
    font-size: 16px;
    font-family: var(--font-family-menu);
    font-weight: 500;
    cursor: pointer;
    padding: 8px 16px;
}

.option:hover {
    background: #8080804a;
    color: rgb(0 0 0);
}

.selected {
    background: var(--gradient-principal);
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 620px) {
    .menu {
        justify-content: center;
    }
}

